body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin-bottom: 4%;
}

.card {
  border: none;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px !important;
}


.rer{
  font-size: 10rem;
  color: blue;
}